<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <h3 class="section-subheading text-muted">Popular small and traditional shops in Japan often require phone reservations due to limited seats and hours... Don't worry, we can help!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/inquiry.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Send Us Your Inquiry</h4>
                                    <!-- <h4 class="subheading">Send Us Your Inquiry</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p>Please fill out the form below and send us your inquiry.</p>
                                    <!-- <p>Once your inquiry is confirmed, we will send you the payment link.</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/call.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>We Write You Back</h4>
                                    <!-- <h4 class="subheading">When Your Inquiry Is Clear</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p>We will make a phone call on your behalf. If we can secure a seat for you, we will email you the payment link for our service.</p>
                                    <p class="text-muted">Please complete your payment to us within 30 minutes using a credit card.</p>
                                    <!-- <p>When your payment is complete, we will make a phone call on your behalf. We will email you the result.</p> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/visit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Visit Your Destination</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p>Please be there on time. Japanese people are very strict about time.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Office Hours</h3>
                    <p class="section-subheading">Mon. - Fri. | 9:00 - 17:00</p>
                    <p class="text-muted">You can send your inquiry anytime you want, but we may not be able to respond quickly outside of office hours.</p>
                </div>
            </div>
        </div>
    </section>