<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <!-- <h3 class="section-subheading text-muted">We are local people grown up in Japan and living in Tokyo.</h3> -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/team_1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Who We Are</h4>
                        <p class="text-muted">We are a startup company aiming to improve the experiences of both customers and shop owners in Japan. We are local people who grew up in Japan and live in Tokyo.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/team_4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Why We Are Doing This</h4>
                        <p class="text-muted">This is part of a marketing effort to collect information on where visitors in Japan are spending their time, and we believe that the most win-win approach is to assist the visitors!</p>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>

            <!-- <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>