<!-- Services Section -->
    <section id="terms">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Terms of Service</h1>
                    <h3 class="section-subheading text-muted">These Terms of Service (“Terms”) govern your use of our website and services (“Service”). By using our Service, you agree to these Terms. If you do not agree, please do not use our Service.</h3>
                </div>
            </div>
            <div class="container text-muted">
                <ul>
                  <li><b>Refunds are not provided.</b> Therefore, please include as many details as possible in your inquiry.</li>
                  <li>If the provided information is insufficient and an additional phone call is required to complete the reservation, an extra charge may apply.</li>
                  <li>We do not assist with reservations that involve cancellation fees or no-show penalties.</li>
                  <li>We do not handle reservation requests for adult entertainment or financial services.</li>
                  <li>Depending on the content, we may refuse to make reservations at our discretion.</li>
                  <li>We are not responsible for any damages or losses resulting from the use of our Service. This includes but is not limited to, direct, indirect, incidental, punitive, and consequential damages.</li>
                  <li>These Terms are governed by and construed in accordance with the laws of Japan. Any disputes arising from these Terms will be resolved in the courts of Japan.</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Privacy Policy</h1>
                    <h3 class="section-subheading text-muted">489Japan is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share your information.</h3>
                </div>
            </div>
            <div class="container text-muted">
                <p>We use your personal information to:</p>
                <ul>
                  <li>Process and manage your reservation requests.</li>
                  <li>Communicate with you about your reservations.</li>
                </ul>
                <p>We use your reservation information to:</p>
                <ul>
                  <li>Utilize it as marketing data to enhance and develop other services offered by our company.</li>
                </ul>
                <p>We do not share your personal information with third parties except:</p>
                <ul>
                  <li>To the establishments where reservations are made.</li>
                  <li>As required by law or to protect our rights.</li>
                </ul>
                <p>You have the right to:</p>
                <ul>
                  <li>Correct any inaccuracies in your personal data.</li>
                  <li>Request the deletion of your personal data.</li>
                </ul>
            </div>

            <p>If you have any questions about the Terms or the Privacy Policy, please contact us through the inquiry form on our website.</p>
        </div>

    </section>
